

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Thin.eot');
	src: local('Raleway Thin'), local('Raleway-Thin'),
		url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Thin.woff') format('woff'),
		url('../fonts/Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-MediumItalic.eot');
	src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
		url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-MediumItalic.woff') format('woff'),
		url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ThinItalic.eot');
	src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
		url('../fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ThinItalic.woff') format('woff'),
		url('../fonts/Raleway-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Italic.eot');
	src: local('Raleway Italic'), local('Raleway-Italic'),
		url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Italic.woff') format('woff'),
		url('../fonts/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBoldItalic.eot');
	src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
		url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraLightItalic.eot');
	src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
		url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBoldItalic.eot');
	src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
		url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraLight.eot');
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-ExtraLight.woff') format('woff'),
		url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-LightItalic.eot');
	src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
		url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-LightItalic.woff') format('woff'),
		url('../fonts/Raleway-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Black.woff') format('woff'),
		url('../fonts/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-BoldItalic.eot');
	src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
		url('../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-BoldItalic.woff') format('woff'),
		url('../fonts/Raleway-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-BlackItalic.eot');
	src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
		url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-BlackItalic.woff') format('woff'),
		url('../fonts/Raleway-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

* {
  font-family: "Raleway", "Times", "sans-serif";
}

/*HEADER*/

header {
  color: white;
  background-color: black;
  font-size: 14px;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.headerContent div {
  float: left;
  width: 524px;
  line-height: 40px;
}

#boldBlue {
  font-weight: bold;
  color: #5db7a7;
}

.headerContent nav {
  float: left;
  width: 524px;
  position: relative;
  line-height: 40px;
}

.mainMenu {
  line-height: 35px;
  position: absolute;
  right: 0;
}

 .mainMenu > li {
  list-style-type: none;
  padding-left: 40px;
  display: inline;
  font-weight: 600;
  position: relative;
}

.mainMenu > li:hover > ul {
  display: block;
}

.submenu {
  position: absolute;
  top: 35px;
  left: 20px;
  padding-top: 10px;
  line-height: 20px;
  display: none;
}

.submenu::before {
    display: inline-block;
    border: 10px solid rgb(50,50,50);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    content: ' ';
    height: 0;
    position: absolute;
    left: 35px;
    top: -10px;
}

.submenu li {
  background: rgb(50,50,50);
  padding: 5px 5px;
  width: 85px;
  text-align: center;
  border: 1px solid white;
}

/* SECTION #ADVERTISEMENT*/

#advertisement {
	height: 505px;
  background: rgba(0,153,153);
  background: rgba(235,233,249,1);
  background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 54%, rgba(216,208,239,1) 73%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
  background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 54%, rgba(216,208,239,1) 73%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
  background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 54%, rgba(216,208,239,1) 73%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
  background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 54%, rgba(216,208,239,1) 73%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
  background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 54%, rgba(216,208,239,1) 73%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
}

#advertisement article {
		height: 505px;
}

.adImage {
  float: left;
  height: 330px;
  width: 367px;
  margin-top: 115px;
	padding-left: 35px;
}

.adText {
  padding-top: 130px;
	height: 505px;
  float: left;
  width: 577px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 14px;
  padding-top: 30px;
	padding-bottom: 80px;
	padding-left: 60px;
	padding-right: 60px;
  text-align: center;
}

.buttom {
  font-size: 23px;
  color: white;
  padding: 15px 40px;
  background: #5db7a7;
  border-radius: 10px;
  text-align: center;
  width: 215px;
  margin-left: 155px;
}

.arrowLeft {
  width: 52px;
  float: left;
  height: 505px;
  margin: 0 0;
}

/*SECTION GALLERY*/

#gallery {
  background-color: white;
	height: 350px;
}

.galleryImage{
  float: left;
  width: 325px;
  margin-right: 31px;
  margin-top: 25px;
  margin-bottom: 90px;
  height: 202px;
  position: relative;
  z-index: 10;
}

.imageDescriptionBackground {
  width: 100%;
  height: 64px;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 150px;
  z-index: 20;
}

.imageDescription {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 165px;
  left: 16px;
  z-index: 30;
}

.imageDescription::after {
    display: inline-block;
    border: 3px solid #5db7a7;
    content: ' ';
    width: 125px;
    position: absolute;
    top: 17px;
    z-index: 30;
}

.galleryText {
  float: right;
  width: 335px;
  height: 230px;
  margin-top: 25px;
  position: relative;
}

.textDescription {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 30px;
  left: 20px;
}

.textDescription::after {
  display: inline-block;
  border: 3px solid #5db7a7;
  content: ' ';
  width: 125px;
  position: absolute;
  top: 17px;
}

.galleryText span {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 14px;
  text-align: left;
  margin-top: 15px;
  margin-right: 7px;
  line-height: 20px;
}

#priceList {
		height: 725px;
}

.sectionName {
  text-align: left;
  position: relative;
  padding-top: 43px;
  margin-bottom: 40px;
  font-size: 22px;
}

.sectionName::after {
    display: inline-block;
    border: 4px solid #5db7a7;
    content: ' ';
    width: 320px;
    position: absolute;
    left: 0;
    top: 75px;
}

.plan {
  float: left;
  width: 330px;
  margin-right: 29px;
  margin-top: 45px;
  margin-bottom: 60px;
  height: 500px;
  position: relative;
  border: 1px solid black;
}

.plan:last-child {
  margin-right: 0;
}

.ring {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -26px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: -22.5px;
  left: 50%;
  margin-left: -12px;
}

.planName {
  color: #5db7a7;
  font-size: 24px;
  width: 100%;
  position: absolute;
  top: 28px;
  text-align: center;
}

.planPrice {
  border: 2px solid black;
  border-radius: 50%;
  font-size: 13px;
  padding: 25px;
  text-align: center;
  position: absolute;
  margin: 85px 105px;
}

.planPriceBig {
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

sup {
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: -15px;
}

.plan ul  {
  position: absolute;
  top: 245px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 45px;
}

.plan ul li:nth-child(2n+1) {
  background-color: #e4e4e4;
}

.plan ul li:nth-child(2n+2) {
  background-color: #f1f1f1;
}

.planButtom {
  text-align: center;
  position: absolute;
  top: 445px;
  left: 100px;
  padding: 5px 25px;
  background-color: #5db7a7;
  border-radius: 7px;
  color: white;
  font-size: 18px;
}

.plan:hover {
  border: 2px solid #5db7a7;
	background-color: #5db7a7;
}

.plan:hover > .ring {
  background-color: #5db7a7;
	border: 1px solid #5db7a7;
}

.plan:hover > .circle {
  background-color: white;
}

.plan:hover > .planName {
  color: white;
}

.plan:hover > .planPrice {
  border: 2px solid #5db7a7;
	background: white;
	color: #5db7a7;
}

.plan:hover > .planButtom {
  background-color: white;
  color: #5db7a7;
}

/*SECTION CONTACT*/
#contact {
  background-color: white;
}

.contactTitle {
  padding-top: 33px;
}

form {
	width: 635px;
  margin-top: 15px;
  float: left;
}

form div {
  display: inline-block;
  font-size: 35px;
  font-weight:  100;
  padding-bottom: 25px;
}

form div input {
	width: 635px;
  height: 67px;
  border: 1px solid #5db7a7;
  color: grey;
	padding-left: 5px;
}

#message {
  height: 190px;
}

.contactContent {
  width: 413px;
  height: 365px;
  float: left;
  position: relative;
}

.contactContentImage {
  width:250px;
  position: absolute;
  top: 0;
  left: 80px;
}

.contactContentAgree {
  position: absolute;
  top: 230px;
  margin-left: 55px;
  margin-right: 20px;
  font-size: 20px;
}

#formOK {
  border: 1px solid #5db7a7;
  float: left;
  width: 47px;
  height: 47px;
  margin-right: 10px;
}
.contactButtom {
  text-align: center;
  padding: 15px 105px;
  background-color: #5db7a7;
  border-radius: 7px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 315px;
  left: 55px;
}

/*FOOTER*/

footer {
  background-color: white;
  color: grey;
  margin-top: 55px;
}

.rights {
  width: 660px;
  float: left;
  font-size: 17px;
  line-height: 50px;
}

.socialMedia {
  width: 230px;
  float: left;
  text-align: center;
}

.logo {
  width: 158px;
  float: left;
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
