* {
  font-family: Arial, Times, sans-serif;
}

.container {
  width: 965px;
  margin: 0 auto;
  border: 1px solid red;
}

header {
  height: 35px;
  color: white;
  background-color: black;
  font-size: 11px;
}

header div {
  float: left;
  line-height: 35px;
  padding-left: 50px;
}

header nav {
  float: right;
}

.mainMenu {
  line-height: 35px;
}

header .mainMenu > li {
  list-style-type: none;
  padding-right: 35px;
  display: inline;
  font-weight: 600;
  position: relative;
}

header .mainMenu > li:last-child {
  padding-right: 60px;
}

header .mainMenu > li:hover > ul {
  display: block;
}

.submenu {
  position: absolute;
  top: 200%;
  left: -15px;
  padding-top: 10px;
  line-height: 20px;
  display: none;
}

header .submenu::before {
    display: inline-block;
    border: 10px solid rgb(50,50,50);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    content: ' ';
    height: 0;
    position: absolute;
    left: 40px;
    top: -10px;
}

header .submenu li {
  background: rgb(50,50,50);
  padding: 5px 5px;
  width: 100px;
  text-align: center;
  border: 1px solid white;
}

#on {
  font-weight: 900;
  color: rgb(0,153,153);
}



clear::after {
  content: "";
  display: block;
  clear: both;
}
